* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2e2e2e;
}
.wrapper{
  background-color: #161616;
  color: #fff;
  width: 30vw;
  height: 60vh;
  border-radius: 20px ;
}
.wrapper h1{
  text-align: center;
  font-size: 36px;
  padding: 20px 20px 0 20px;
}
.wrapper .input-boxx{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  color: #fff;
  padding: 30px 60px 30px 60px;
  display: flex;
}
.input-box .personType{
  display: flex;
  background-color: #ffff;
  color: #fff;
}

.input-boxx input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  padding: 20px 45px 20px 30px;
}
.input-boxx input::placeholder{
  color: #fff;
}
.input-boxx .icon-name{
  position: absolute;
  right: 368px;
  bottom: 3px;
}
.input-boxx .icon-password{
  position: absolute;
  right: 368px;
  bottom: 3px;
}
.forgot a{
  display: flex;
  margin: 10px 70px 10px;
  color: #fff;
  font-weight: bold;
}
.wrapper button{
  width: 60%;
  margin-top: 20px;
  margin-left: 100px;
  height: 45px;
  background-color: #cac2c2;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
.wrapper button:hover{
  background-color: #fff;
  transition: .3s ease-in;
}
.wrapper .register{
  text-align: center;
  margin-top: 30px;
}
.wrapper .register a{
  color: #fff;
  font-weight: bold;
}
