<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login.css">
    <title>Auth Bank - Login</title>
</head>
<body>
    <div class="container">
        <div class="title" id="title-login">Login</div>
        <div class="content">
          <form id="loginForm" onsubmit="submitForm(); return false;">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Login</span>
                <input type="text" placeholder="Login" id="login" required>
                <i class="bx bx-user"></i>
              </div>
              </div>
              <div class="user-details">
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Password" id="loginPassword" required>
                    <i class="bx bx-lock-alt"></i>
                  </div>
              </div>
              <div class="button">
                <input type="submit" value="Entrar">
              </div>
            </div>
            <a href="#" class="forgotPassword">Forgot Password?</a>
            <div class="buttonLogin">
              <span>Don't have an Account? <a href="/auth/register">Register</a></span>
            </div>
          </form>
          </div>
          <script src="/js/loginApp.js"></script>
        </div>
</body>
</html>