<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="index" method="get">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="personType-details">
            <input type="radio" name="type" id="dot-1">
            <input type="radio" name="type" id="dot-2">
            <span class="type-title">Person Type</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="type">CPF</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="type">CNPJ</span>
            </label>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Document</span>
            <input type="text" placeholder="Enter your Document" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <a class="button" href="">Login</a>
      </form>
    </div>
  </div>

</body>
</html>