*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
    --c-gray-900: #000000;
    --c-gray-800: #1f1f1f;
    --c-gray-700: #2e2e2e;
    --c-gray-600: #313131;
    --c-gray-500: #969593;
    --c-gray-400: #a6a6a6;
    --c-gray-300: #bdbbb7;
    --c-gray-200: #f1f1f1;
    --c-gray-100: #ffffff;
    --c-green-500: #45ffbc;
    --c-olive-500: #e3ffa8;
    --c-white: var(--c-gray-100);
    --c-text-primary: var(--c-gray-100);
    --c-text-secondary: var(--c-gray-200);
    --c-text-tertiary: var(--c-gray-500);
  }
  body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: var(--c-gray-800);
    color: var(--c-text-primary);
  }
.withLine {
  display: inline-block;
  position: relative;
}
.withLine::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -80px;
  transform: translateY(-50%);
  height: 190vh;
  width: 1px;
  background-color: #2e2e2e;
}
.app {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #26282f;
    padding: 0.2vw 3vw;
    display: flex;
    flex-direction: column;
  }
  
  .app-header {
    display: grid;
    grid-template-columns: minmax(-webkit-min-content, 175px) minmax(-webkit-max-content, 1fr) minmax(-webkit-max-content, 400px);
    grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(max-content, 400px);
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    align-items: flex-end;
  }
  .tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: var(--c-text-tertiary);
    border-bottom: 1px solid var(--c-gray-600);
  }
  .tabs .active {
    text-decoration: none;
    width: 11vw;
    justify-content: space-around;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  .tabs .active, .tabs .active:hover, .tabs .active:focus {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  .active:focus{
    text-decoration: underline;
  }
  .active:hover{
    background-color: var(--c-gray-600);
  }
  .app-body {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(-webkit-min-content, 175px) minmax(-webkit-max-content, 1fr) minmax(-webkit-min-content, 400px);
    grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(min-content, 400px);
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    padding-top: 2.5rem;
  }
  .app-body-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid var(--c-gray-600);
  }
  .logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 32px;
  }
  
  .logo-title {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    margin-left: 0.75rem;
  }
  .logo-title span:first-child {
    color: var(--c-text-primary);
  }
  .logo-title span:last-child {
    color: var(--c-text-tertiary);
  }
  .user-profile {
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: var(--c-text-tertiary);
    transition: 0.25s ease;
  }
  .user-profile:hover, .user-profile:focus {
    color: var(--c-text-primary);
  }
  .user-profile:hover span:last-child, .user-profile:focus span:last-child {
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
  }
  .user-profile span:first-child {
    display: flex;
    font-size: 1.125rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--c-gray-600);
    font-weight: 300;
  }
  .user-profile span:last-child {
    transition: 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 1.0rem;
    margin-bottom: 35px;
    flex-shrink: 0;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #c2bdbd;
  }
  .navigation .menu {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.25s ease;
    color: #c2bdbd;
  }
  .navigation .menu * {
    transition: 0.25s ease;
  }
  .navigation .menu .icons-menu {
    margin-right: 0.75rem;
    font-size: 1.25em;
    flex-shrink: 0;
  }
  .navigation .menu + .menu {
    margin-top: 1.25rem;
  }
  .navigation .menu:hover, .navigation .menu:focus {
    transform: translateX(4px);
    color: #fff;
  }
  .footer {
    margin-top: 220px;
    margin-bottom: 40px;
  }
  .footer h1 {
    font-size: 1.5rem;
    line-height: 1.125;
    display: flex;
    color: #fff;  
    align-items: flex-start;
  }
  .footer h1 small {
    font-size: 0.5em;
    margin-left: 0.25em;
    color: #fff;
  }
  .footer div {
    border-top: 1px solid var(--c-gray-600);
    padding-top: 1rem;
    font-size: 0.75rem;
    color: #fff;
  }
  .tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 1.25rem;
    width: 10vw;
  }
  .tile {
    border-radius: 8px;
    min-height: 200px;
    display: flex;
    width: 15vw;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.25s ease;
  }
  .tile:hover {
    transform: translateY(-5px);
  }
  .tile:focus-within {
    box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
  }
  .tile:nth-child(2):focus-within {
    box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
  }
  .tile:nth-child(3):focus-within {
    box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
  }
  .tile .services {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: var(--c-gray-900);
  }
  .tile .services .icon-button{
    color: inherit;
    border-color: inherit;
  }
  .tile .services .icon-button:hover, .tile .services .icon-button:focus {
    background-color: transparent;
  }
  .tile .services .icon-button:hover, .tile .services .icon-button:focus {
    transform: none;
  }
  .tile .services:focus {
    box-shadow: none;
  }
  .tile .services:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .service-section-footer {
    color: var(--c-text-tertiary);
    margin-top: 1rem;
  }
  .transfer-section {
    margin-top: 2.5rem;
  }
  
  .transfer-section-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--c-gray-600);
  }
  .transfer-section-header h2 {
    font-size: 1.5rem;
  }
  .filter-options {
    margin-left: 1.25rem;
    padding-left: 1.25rem;
    border-left: 1px solid var(--c-gray-600);
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }
  .filter-options p {
    color: var(--c-text-tertiary);
    font-size: 0.875rem;
  }
  .filter-options p + * {
    margin-left: auto;
    margin-right: 0.75rem;
  }
  .payment-section  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-left: 25%;
  }
  .payment-section{
    margin-bottom: 20%;
  }
  .app-body-siderbar{
    margin-bottom: 20%;
    padding-top: 10%;
    margin-left: 30%;
  }
  .payment-section-header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 25%;
  }
  .payment-section-header p {
    color: var(--c-text-tertiary);
    font-size: 0.875rem;
  }
  .payment-section-header div {
    padding-left: 1rem;
    margin-left: auto;
    align-items: center;
  }
  .payment-section-header div > * + * {
    margin-left: 0.5rem;
  }
  .your-account{
    font-size: 18px;
  }
  .form-configuration{
    color: #fff;
  }