@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #2e2e2e;
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #161616;
  border: 1px solid #4b4949;
  padding: 25px 30px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: #fff;
  text-align: center;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 50;
  bottom: 0;
  height: 3px;
  width: 100px;
  border-radius: 50px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #fff;
  }

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 30px;
  background: rgba(255,255,255,0.2);
  padding-left: 35px;
  border: 2px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  color: #fff;
}

::-webkit-input-placeholder{
  color: #fff;
}
.input-box i{
  position: relative;
  top: -32px;
  left: 12px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #c0c0c0;
}

form .personType-details .type-title {
  font-size: 16px;
  font-weight: 500;
  margin-right: 165px;
  margin-left: 20px;
  color: #fff;
}

form .category {
  display: flex;
  width: 80%;
  margin: 20px 0px;
  justify-content: space-around;
  padding-right: 70px;
  color: #fff;
}
form .category label {
  display: flex;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
}
.type{
  margin-left: 10px;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  margin-left: 20px;
  border-radius: 50%;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#personTypeCPF:checked~.category label .one,
#personTypeCNPJ:checked~.category label .two {
  background: #030303;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0
}

form .button {
  height: 45px;
  margin: 35px;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 35px;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: rgba(255,255,255,0.7);
}
.buttonLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.buttonLogin a{
  color: #fff;
}
form .button input:hover {
  background: rgba(255,255,255,1);
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
