<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Bank - Cards</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="app">
        <header class="app-header">
            <div class="app-header-logo">
                <div class="logo">
                    <span class="logo-icon">
                        <span class="withLine">Matheo Peterson</span>
                    </h1>
                </div>
            </div>
            <div class="app-header-navigation">
                <div class="tabs">
                    <a href="/wallet/dashboard">
                        Overview
                    </a>
                    <a href="/wallet/dashboard/services">
                        Services
                    </a>
                    <a href="/wallet/dashboard/cards" class="active">
                        Cards
                    </a>
                    <a href="/wallet/dashboard/support">
                        Support
                    </a>
                </div>
            </div>
        </header>
            <div class="app-body">
                <div class="app-body-navigation">
                    <nav class="navigation">
                        <button class="user-profile">
                            <span>
                                <img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
                            </span>
                        </button>
                        <a href="/wallet/dashboard/account">
                            <i class="ph-browsers"></i>
                            <span>Account</span>
                        </a>
                        <a href="/wallet/dashboard">
                            <i class="ph-browsers"></i>
                            <span>Dashboard</span>
                        </a>
                        <a href="#">
                            <i class="ph-swap"></i>
                            <span>History</span>
                        </a>
                        <a href="#">
                            <i class="ph-clipboard-text"></i>
                            <span>Exchange</span>
                        </a>
                    </nav>
                    <footer class="footer">
                        <h1>Auth Bank<small>©</small></h1>
                        <div>
                            Leonardo & Erick ©<br />
                            All Rights Reserved 2024
                        </div>
                    </footer>
                </div>
                <form action="" onsubmit="event.preventDefault(); addCard(); return false">
                    <div class="app-body-main-content">
                        <section class="service-section">
                            <div class="user-details-card">Card Information</div>

                            <div class="input-box">
                                <span class="details">Número do cartão</span>
                                <input type="text" id="number" maxlength="19" oninput="numberTypeCard(this)" required>
                                <i class="bx bx-credit-card"></i>
                            </div>

                            <div class="input-box">
                                <span class="details">Nome do Titular</span>
                                <input type="text" id="title" oninput="toUpperCase(this)" required>
                                <i class="bx bxs-id-card"></i>
                            </div>

                            <div class="input-box-v">

                                <div class="expiration">
                                    <span class="details">Vencimento</span>
                                    <input type="text" id="date" oninput="formatCardNumber(this)" maxlength="5" placeholder="MM/AA" required>
                                    <i class="bx bx-id-card"></i>
                                </div>

                                <div class="cvv">
                                    <span class="details">CVV</span>
                                    <input maxlength="3" type="text" id="cvv" placeholder="CVV" required>
                                    <i class="bx bxs-credit-card-front"></i>
                                </div>

                            </div>
                            <div class="buttonSave">
                                <button type="submit">Add</button>
                            </div>
                        </section>
                     </div>
                </form>
        <script src="/js/cards.js"></script>
    </body>
</html>