<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Bank - Account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="app">
        <header class="app-header">
            <div class="app-header-logo">
                <div class="logo">
                    <span class="logo-icon">
                        <span class="withLine">Matheo Peterson</span>
                    </h1>
                </div>
            </div>
        </header>
        <div class="app-body">
            <div class="app-body-navigation">
                <nav class="navigation">
                    <button class="user-profile">
                        <span>
                            <img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
                        </span>
                    </button>
                    <a href="/wallet/dashboard/account" >
                        <i class="ph-browsers"></i>
                        <span>Account</span>
                    </a>
                    <a href="/wallet/dashboard">
                        <i class="ph-browsers"></i>
                        <span>Dashboard</span>
                    </a>
                    <a href="#">
                        <i class="ph-swap"></i>
                        <span>History</span>
                    </a>
                    <a href="#">
                        <i class="ph-clipboard-text"></i>
                        <span>Exchange</span>
                    </a>
                </nav>
                <footer class="footer">
                    <h1>Auth Bank<small>©</small></h1>
                    <div>
                        Leonardo & Erick ©<br />
                        All Rights Reserved 2024
                    </div>
                </footer>
            </div>                                  
    <script src='https://unpkg.com/phosphor-icons'></script><script  src="./script.js"></script>
</body>
</html>