<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="title" id="title-login">Login</div>
        <div class="content">
          <form action="#">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Document</span>
                <input type="text" placeholder="Enter your Document" id="login" required>
              </div>
              </div>
              <div class="user-details">
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your Password" id="loginPassword" required>
                </div>
              </div>
              <div class="button">
                <input type="submit" value="Entrar" onclick="submitForm()" >
              </div>
            </div>
            <a class="buttonLogin" href="/auth/register">Register</a>
          </form>
          <script src="/js/loginApp.js"></script>
        </div>
</body>
</html>