<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Registration </title>
    <link rel="stylesheet" href="/css/style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form id="registerForm" onsubmit="submitForm(); return false;">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Login</span>
            <input type="text" placeholder="Enter your User" id="fullName" required>
          </div>
          <div class="personType-details" >
            <input type="radio" name="type" id="personTypeCPF" onclick="personTypeChange('CPF')">
            <input type="radio" name="type" id="personTypeCNPJ" onclick="personTypeChange('CNPJ')">
            <span class="type-title">Person Type</span>
            <div class="category">
              <label for="personTypeCPF">
              <span class="dot one"></span>
              <span class="type">CPF</span>
            </label>
            <label for="personTypeCNPJ">
              <span class="dot two"></span>
              <span class="type">CNPJ</span>
            </label>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your Email" id="email" onblur="validateEmail()" required>
          </div>
          <div class="input-box" id="documentInputBox">
            <span class="details">Document</span>
            <input type="text" placeholder="Enter your Document" id="document" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your Password" id="password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your Password" id="confirmPassword" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <a class="buttonLogin" href="/auth/login">Login</a>
      </form>
      <script src="/js/app.js"></script>
    </div>
  </div>
</body>
</html>